@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Lao+Looped:wght@100..900&family=Noto+Serif+Lao:wght@100..900&display=swap");
@import "tailwindcss";
* {
  font-family: "Noto Sans Lao Looped", sans-serif;
}

body {
  font-family: "Noto Sans Lao Looped", sans-serif;
  background: #f5f0f0;
  overflow-x: hidden;
}
.container {
  width: 90%;
  margin: auto;
}

.bg-org {
  background: #ff5252;
}

.links:hover {
  color: #ff5252;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
::-webkit-slider-thumb {
  background: #ccc;
}
::-webkit-slider-track {
  background: #fff;
}

/* Cart and wishList */
.MuiBadge-badge {
  background-color: #ff5252 !important;
}

nav button {
  font-family: "Noto Sans Lao Looped", sans-serif !important;
  color: black !important;
}

button {
  font-family: "Noto Sans Lao Looped", sans-serif !important;
}

button:hover {
  color: #ff5252 !important;
}

nav ul button:hover .MuiTouchRipple-root {
  background: rgba(0, 0, 0, 0.1) !important;
}

/* Slider */

.sliderHome {
  overflow: inherit !important;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
  color: #000;
}

.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  top: 55px !important;
}

.smlBtn .swiper-button-prev::after,
.smlBtn .swiper-button-next::after {
  font-size: 16px !important;
  color: #000;
}

/* Home Category Slider */
.homeCatSlider {
  overflow: inherit !important;
}
.homeCatSlider .swiper-button-prev,
.homeCatSlider .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
}
.homeCatSlider .item {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.homeCatSlider .swiper-button-prev::after,
.homeCatSlider .swiper-button-next::after {
  font-size: 16px !important;
}
.homeCatSlider .swiper-button-prev:hover,
.homeCatSlider .swiper-button-next:hover {
  background: #ff5252 !important;
}
.homeCatSlider .swiper-button-prev:hover::after,
.homeCatSlider .swiper-button-next:hover::after {
  color: #fff !important;
}
.homeCatSlider .item:hover img {
  transform: scale(1.1);
}

/* Tab Popular product */
.MuiTabs-indicator {
  background-color: #ff5252 !important;
}
.Mui-selected {
  color: #ff5252 !important;
}

/* Product Slider */
.productSlider .swiper-wrapper {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
}
